@font-face {
  font-family: Geometria;
  src:
    url("fonts/Geometria-Regular.woff2") format("woff2"),
    url("fonts/Geometria-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Geometria;
  src:
    url("fonts/Geometria-Medium.woff2") format("woff2"),
    url("fonts/Geometria-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
